/* Paleta de colores */
:root {
    --bg-contacts: #fff;
    --bg-chat: #f8f8f8;
    --bg-btn: #a491d2;
    --bg-btn-hover: #cdc3e6;
    --bg-btn-focus: #e8ebe4;
    --bg-btn-active: #d4dcff;
    --color-border1: #bec1bb;
    --color-border2: #e8ebe4;
    --color-font1: #1b1f21;
    --color-font2: #444749;
    --color-font3: #828485;
    --color-font4: #fff;
    --font1: "Roboto", sans-serif;
    --font2: "Open Sans", sans-serif;
}

/* quito margin y padding */
* {
    margin: 0;
    padding: 0;
}

/* contendedor principal */
.app-contact {
    display: flex;
}

/* css para contenedor del historial del chat por persona */
.chat {
    border-left: 3px solid var(--color-border1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    background-color: var(--bg-chat);
}

.logo-app img {
    width: 250px;
    height: 250px;
}

h1 {
    font-family: var(--font1);
    color: var(--color-font1);
    font-size: 3.5rem;
    font-weight: 400;
}

.information-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font2);
    font-size: large;
}

/* css para lista de contactos */
.list-contact {
    flex-basis: 20rem;
}

.avatar-small img {
    border-radius: 100%;
    border: 3px solid var(--color-border2);
    width: 2.5rem;
    height: 2.5rem;
    margin: 10px;
}

.avatar img {
    border-radius: 100%;
    border: 3px solid var(--color-border2);
    width: 3.3rem;
    height: 3.3rem;
    margin: 10px;
}

.information-avatar,
.name-avatar {
    display: flex;
    flex-direction: column;
}

.chat-selected,
.icons,
.contact-chat {
    display: flex;
}

.chat-selected {
    align-items: center;
}

.chat-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    border-bottom: 3px solid var(--color-border2);
    flex-grow: 1;
}

.contact-chat {
    align-items: center;
    border-bottom: 3px solid var(--color-border2);
    height: 5.4rem;
    padding-left: 15px;
    cursor: pointer;
}

.contact-chat:hover {
    background-color: var(--bg-btn-hover);
    color: var(--color-font1);
}

.chat-contact {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--font2);
    color: var(--color-font2);
    width: 9rem;
}

.fa-regular,
.fa-solid {
    color: var(--color-font3);
    font-size: 1.5rem;
    margin: 7px;
    cursor: pointer;
}

.fa-regular:hover {
    color: var(--bg-btn);
}

.fa-solid:hover {
    color: var(--bg-btn);
}

.new-chat {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 14rem;
    height: 3.5rem;
    background-color: var(--bg-btn);
    border: 1px solid var(--bg-btn);
    cursor: pointer;
    font-family: var(--font1);
    color: var(--color-font4);
    font-size: large;
}

button:hover {
    background-color: var(--bg-btn-hover);
    border: none;
    color: var(--color-font1);
}

button:active {
    background-color: var(--bg-btn-active);
    border: none;
    color: var(--color-font2);
}

button:focus {
    background-color: var(--bg-btn-focus);
    border: none;
    color: var(--bg-btn);
}

.new-chat {
    border-bottom: 3px solid var(--color-border2);
}

.contact-chat {
    flex-grow: 2;
}

.name-contact {
    font-family: var(--font2);
    color: var(--color-font1);
    font-size: 1.1rem;
    font-weight: 600;
}

.chat-active {
    font-family: var(--font2);
    color: var(--color-font3);
    font-size: 0.7rem;
}