/* Paleta de colores */
:root {
    margin: 0;
    padding: 0;
    --bg-contacts: #fff;
    --bg-chat: #e8ebe4;
    --bg-btn: #a491d2;
    --bg-btn-hover: #cdc3e6;
    --bg-btn-focus: #e8ebe4;
    --bg-btn-active: #d4dcff;
    --color-border1: #bec1bb;
    --color-border2: #e8ebe4;
    --color-font1: #1b1f21;
    --color-font2: #444749;
    --color-font3: #828485;
    --color-font4: #fff;
    --font-family-primary: "Roboto", sans-serif;
    --font-family-secondary: "Open Sans", sans-serif;
}