/* Paleta de colores */
:root {
    --bg-contacts: #FFF;
    --bg-chat: #E8EBE4;
    --bg-btn: #A491D2;
    --bg-btn-hover: #CDC3E6;
    --bg-btn-focus: #E8EBE4;
    --bg-btn-active: #D4DCFF;
    --color-border1: #BEC1BB;
    --color-border2: #E8EBE4;
    --color-font1: #1B1F21;
    --color-font2: #444749;
    --color-font3: #828485;
    --color-font4: #fff;
}

